<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap/bootstrap.min.css" />
    <include path="~/Content/themes/darkly/bootstrap-forum.min.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/nflteams.css" />
    <include path="~/Content/font-awesome/css/all.min.css" />
  </styleBundle>
</bundles>